@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

@import "@ciscodesignsystems/cds-magnetic-theme-web/css/dist/token-theme-variables.css";
@import "@ciscodesignsystems/cds-react-select/index.css";

@import "@ciscodesignsystems/cds-react-button/index.css";
@import "@ciscodesignsystems/cds-react-card/index.css";
@import "@ciscodesignsystems/cds-react-checkbox/index.css";

@import "@ciscodesignsystems/cds-react-container/index.css";

@import "@ciscodesignsystems/cds-react-header/index.css";
@import "@ciscodesignsystems/cds-react-footer/index.css";
@import "@ciscodesignsystems/cds-react-logos/index.css";
@import "@ciscodesignsystems/cds-react-menu/index.css";
@import "@ciscodesignsystems/cds-react-modal/index.css";
@import "@ciscodesignsystems/cds-react-nav/index.css";
@import "@ciscodesignsystems/cds-react-notification/index.css";
@import "@ciscodesignsystems/cds-react-radio/index.css";

@import "@ciscodesignsystems/cds-react-tag/index.css";
@import "@ciscodesignsystems/cds-react-text-input/index.css";
@import "@ciscodesignsystems/cds-react-toggle/index.css";
@import "@ciscodesignsystems/cds-react-tooltip/index.css";

@import "@ciscodesignsystems/cds-react-popover/index.css";
@import "@ciscodesignsystems/cds-react-toaster/index.css";
@import "@ciscodesignsystems/cds-react-textarea/index.css";

:root {
  --color-example: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-size: 16px;
  overflow: auto;
  margin: 0;
  font-family: sans-serif;
}

#app {

  font-size: 1rem;
}


.hello {
    padding: 1rem;
}